<div *ngFor="let person of persons">
  <div class="row">
    <div class="col-lg-5 col-md-8 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-header">
              {{person.name}}
            </div>
            <div class="card-block">
                <div class="card-text">
                    At home: ja
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-sm btn-link" [routerLink]="['/person-edit', person.id]">Edit</button>
            </div>
        </div>
    </div>
  </div>
</div>
<button class="btn btn-primary" [routerLink]="['/person-add']">Add</button>